* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #001233;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.03rem;
}

/* Head Section */

main {
    padding: 2.5rem 6rem;
}

.head_section {
    padding: 2rem 0;
    background-color: black;
    text-align: center;
    border-radius: 1rem;
    align-content: center;
    box-shadow: 0rem 0.5rem 1rem #00225f;
    animation: shadowAni 3s alternate infinite;
}

@keyframes shadowAni {
    to {
        box-shadow: 0.5rem 0rem 1rem #00225f;
    }
}

.head {
    width: 60%;
    margin: auto;
}

.head h1 {
    font-size: 3rem;
    font-family: "Consolas", monospace;
    color: white;
}

.head p {
    padding-top: 1rem;
    font-size: 1.15rem;
    color: #00ccff;
    line-height: 1.7rem;
}

/* Search Section */

.search_section {
    text-align: center;
    margin-top: 2rem;
    text-align: left;
    padding: 3rem 0;
}

.search_section input {
    width: 50%;
    padding: 0.9rem 1rem;
    font-size: 0.9rem;
    border-radius: 2rem;
    border: none;
    background-color: rgb(217, 235, 253);
    border: 2px solid black;
    outline: none;
}

.category {
    padding: 2rem 0;
}

.category button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #979DAC;
    background: transparent;
    color: #979DAC;
    margin: 0 1rem;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: 0.04rem;

}

.category button:hover {
    background-color: #a0afb3;
    border: 1px solid #001233;
    color: #001233;
}

.category button:focus {
    background: #00ccff;
    color: black;
    border: 1px solid black;
}

.category .active {
    background: #00ccff;
    color: black;
    border: 1px solid black;
}

/* Blogs Section */

.blogs_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 7rem;
    row-gap: 4rem;
}

.filterdiv {
    padding: 1rem;
    border-radius: 1rem;
    background: transparent;
    background-color: black;
    color: #979DAC;
    position: relative;
}

.filterdiv div {
    overflow: hidden;
    border-radius: 1rem;
}

.filterdiv div img {
    width: 100%;
    height: 270px;
}

.filterdiv div img:hover {
    width: 100%;
    scale: 1.15;
    transition: all 0.4s ease-in-out;
}

.filterdiv h3 {
    font-size: 1rem;
    color: #00ccff;
    padding: 0.5rem 0;
    letter-spacing: 0.06rem;
    font-weight: 500;
}

.description {
    line-height: 1.2rem;
    padding-bottom: 1.7rem;
    text-align: justify;
}

.date {
    font-size: 0.8rem;
    color: #5C677D;
    position: absolute;
    bottom: 0.9rem;
}

/* Load Button */

.load_btn {
    padding-top: 3rem;
    text-align: center;
}

.load_btn button {
    padding: 0.7rem 1.5rem;
    border: none;
    font-size: 0.9rem;
    letter-spacing: 0.04rem;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.load_btn button:hover {
    background-color: #00ccff;
}

/* Footer */

footer {
    margin: 3rem 6rem 1rem 6rem;
    padding: 2rem 0 1rem 0;
    background-color: black;
    text-align: center;
    border-radius: 1rem;
    align-content: center;
    box-shadow: 0rem -0.5rem 1rem #000d25;
}

.footer {
    color: white;
    width: 60%;
    margin: auto;
}

.para1 {
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    line-height: 1.8rem;
}

.links {
    padding-top: 0.6rem;
    align-content: center;
}

.links a i{
    background-color: rgb(39, 39, 39);
    padding: 7px;
    border-radius: 50%;
    color: #00ccff;
    margin: 0 0.4rem;
}

.links a i:hover {
    color: #c9edf7;
    rotate: 10deg;
    transition: all 0.4s ease-in-out;
}

.para2 {
    color: #00ccff;
    padding-top: 2rem;
}


@media screen and (max-width:1200px) {

    .blogs_section {
        column-gap: 5rem;
    }

    .search_section input {
        width: 60%;
    }
}

@media screen and (max-width: 1024px) {

    main {
        padding: 2.5rem 4rem;
    }

    .blogs_section {
        column-gap: 4rem;
    }

    footer {
        margin: 3rem 4rem 1rem 4rem;
    }
}

@media screen and (max-width: 853px) {

     .head {
        width: 80%;
    }

    .blogs_section {
        grid-template-columns: 1fr 1fr;
    }

    .search_section input {
        width: 75%;
    }

    .category button {
        margin: 0 0.5rem 0.7rem 0.5rem;
    }

    .footer{
        width: 80%;
    }
}

@media screen and (max-width: 650px) {

    main {
        padding: 2.5rem 3rem;
    }

    .head {
        width: 85%;
    }

    .head h1 {
        font-size: 2.3rem;
    }

    .blogs_section {
        grid-template-columns: 1fr;
        padding: 0 4rem;
    }

    .search_section input {
        width: 100%;
    }

    footer {
        margin: 3rem 3rem 1rem 3rem;
    }

    .footer {
        width: 85%;
    }
}

@media screen and (max-width: 480px) {

     main {
        padding: 2.5rem 1.5rem;
    }

    .head {
        width: 90%;
    }

    .head h1 {
        font-size: 2rem;
    }

    .head p {
        font-size: 1rem;
    }

    .blogs_section {
        padding: 0 1rem;
    }

    .search_section input {
        width: 100%;
    }

     footer {
        margin: 3rem 1.5rem 1rem 1.5rem;
    }

    .footer {
        width: 90%;
    }
}

@media screen and (max-width: 375px) {

    .search_section {
        padding: 2rem 0;
    }

    .search_section input {
        padding: 0.8rem 1rem;
        font-size: 0.8rem;
    }

    .category button {
        padding: 0.4rem 0.9rem;
        margin: 0 0.5rem 0.7rem 0.5rem;
        font-size: 0.9rem;
    }

    .blogs_section {
        grid-template-columns: 1fr;
        column-gap: 7rem;
        row-gap: 3rem;
    }

    .description {
        font-size: 0.9rem;
    }

    .para1 {
        font-size: 1rem;
    }

    .para2 {
        font-size: 0.9rem;
    }
}